@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
/* asd */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-hover: #0022aa;
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-family: Roboto;
  background-color: var(--gris-claro);
}

header {
  background-color: var(--amarillo);
  text-align: center;
  width: 100vw;
}

.header-logo {
  padding: 5%;
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 50%;
  padding: 20px;
}

.search-bar {
  padding-left: 8px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
}

.search-wrap {
  position: relative;
  width: 50%;
  padding: 5px;
}

.search-wrap input {
  width: 100%;
  padding-right: 20px;
  margin-left: 5px;
}

.fa-search {
  background-color: var(white);
  position: absolute;
  top: 15px;
  right: 5px;
}

.fa-hand-holding-usd {
  margin-right: 5px;
}

.burger-menu {
  text-align: center;
  margin-top: 20px;
}

.burger-menu i {
  background-color: #1259c3;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/* header style Nav menu*/
.site {
  display: none;
}

.login {
  display: none;
}

/*banner */
.banner img {
  width: 100vw;
}

/*main style*/
main {
  width: 90vw;
  text-align: center;
}

main section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

main article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.titulares {
  font-size: 24px;
  color: var(--gris-oscuro);
}

main article img {
  width: 100%;
}

.product-description {
  text-align: left;
  position: relative;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  background-color: #ffff;
  width: 100%;
}

.bloque-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fa-truck {
  border: 1px solid #39b54a;
  color: #39b54a;
  font-size: 1rem;
  padding: 5px;
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  right: 20px;
  top: -15px;
  position: absolute;
  transition: transform 500ms ease;
}

.fa-truck:hover {
  transform: rotate(-90deg);
}

.precio {
  margin-right: 5px;
  font-size: 16px;
  flex-basis: 30%;
}

.descuento {
  flex-basis: 70%;
  font-size: 16px;
  color: #39b54a;
}

.product-title {
  display: none;
}

#form-login {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#form-login input {
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid var(--gris-claro);
  font-size: 1em;
  padding: 0.5rem 1rem;
}

#form-login button {
  background-color: var(--celeste);
  color: white;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid var(--celeste);
  padding: 0.5rem 1rem;
  transition: all 500ms ease;
}

#form-login button:hover {
  background-color: var(--color-hover);
}

#form-register {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#form-register input {
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid var(--gris-claro);
  font-size: 1em;
  padding: 0.5rem 1rem;
  margin-left: 15px;
}

#form-register label {
  padding-top: 10px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
}

.perfil-de-usuario {
  border-bottom: dashed 1px var(--gris-oscuro);
  display: flex;
  flex-direction: column;
}

#form-register .soft-label {
  font-weight: normal;
}

.register-intereses {
  padding: 5px;
  border-bottom: dashed 1px var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#form-register .register-intereses input {
  margin-bottom: 5px;
}

.button-register {
  padding-top: 15px;
  text-align: center;
}

.button-register :nth-child(1) {
  background-color: var(--celeste);
  color: white;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid var(--celeste);
  padding: 0.5rem 1rem;
  width: 75px;
  transition: all 500ms ease;
}

.button-register :nth-child(1):hover {
  background-color: var(--color-hover);
}

.button-register :nth-child(2) {
  background-color: var(--gris-oscuro);
  color: white;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid var(--gris-oscuro);
  padding: 0.5rem 1rem;
  width: 75px;
}

/*footer style*/

footer {
  width: 100%;
  background: white;
  text-align: center;
  color: var(--gris-oscuro);
  padding: 20px;
}

footer .articulos i {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--celeste);
  transition: all 500ms ease;
}

footer .articulos i:hover {
  color: var(--gris-oscuro);
}

.copyright {
  padding-top: 15px;
}

/*VISTA TABLET*/
@media (min-width: 361px) {
  .leyenda {
    align-items: center;
    display: flex;
  }
  .header-logo {
    padding: 10px;
    flex-basis: 67%;
    text-align: left;
    justify-content: space-between;
  }

  .header-logo img {
    padding: 5px;
    height: 60px;
  }

  header aside {
    flex-basis: 30%;
    text-align: right;
  }

  .listas {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
  }

  .site {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .site li {
    padding-left: 10px;
  }

  .site li a {
    text-decoration: none;
    color: black;
  }

  .login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .login li {
    padding: 10px;
  }

  .login li a {
    text-decoration: none;
    color: black;
  }

  .login li i {
    padding-left: 5px;
  }

  .burger-menu {
    display: none;
  }

  main article {
    width: 45%;
    margin-left: 2.5%;
    transition: all 500ms ease;
  }

  main article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .product-title {
    font-size: 16px;
    color: var(--gris-oscuro);
    display: block;
    height: 20px;
    opacity: 0;
    transition: all 500ms ease;
  }

  .product:hover .product-title {
    opacity: 1;
    height: 20px;
  }

  .products .product {
    flex-basis: 50%;
  }

  #form-login {
    margin: auto;
    width: 80vw;
  }

  #form-register {
    margin: auto;
    width: 80vw;
  }
}

/*VISTA DESKTOP*/
@media (min-width: 769px) {
  .header-logo img {
    height: 60px;
  }

  main section {
    padding: 1%;
  }
  main article {
    width: 24%;
    margin-left: 1%;
  }

  footer .articulos {
    display: flex;
    justify-content: space-evenly;
  }

  #form-login {
    width: 50vw;
  }

  #form-register {
    width: 50vw;
  }
}
