@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
margin : 0;
padding : 0;
box-sizing : border-box;
}

:root{
--amarillo : #EAC926; 
--azul : #03264C;
--celeste : #1259c3;
--gris-oscuro : #666;
--gris-claro : #ebebeb;
}

body {
font-size: 12px;
font-family : Roboto; 
background-color: var(--gris-claro);   
}

header {
background-color: var(--amarillo);
}

.burger-menu{
text-align: center;    
}

.burger-menu i {
background-color : var(--celeste);
color : white;
font-size: 20px;
padding: 15px;
border-radius: 10px;
}

main {
text-align : center;
width : 90%;
margin : 0 auto;
}

h3 {
font-size: 24px;    
}

h4 {
font-size: 16px;    
}

.fas{
font-size : 32px;    
padding : 10px;
}

article{
margin-bottom: 10px;
}
article p {
font-size: 18px;
}

article p small{
font-size: 16px;
}
